{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/main/main.css' %}" rel="stylesheet">

<div class="row d-flex justify-content-center">
    <canvas id="my_canvas" class="custom_canvas">
        Извините, ваш браузер нет поддерживает элемент канвас.
    </canvas>
</div>



<script src="{% static 'js/telegram/telegram-web-app.js' %}"></script>
<script src="{% static 'js/main/webSocket.js' %}"></script>
<script src="{% static 'js/objects/square.js' %}"></script>
<script src="{% static 'js/main/main.js' %}"></script>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}